html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  position: relative;
  background: black;
}

.app {
  height: 100%;
}

.story {
  z-index: 4;
  position: absolute;
  background: white;
  width: 450px;
  border: 5px solid green;
  border-radius: 5px;
}

.story h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: move;
  background-color: green;
  color: white;
  margin: 0;
  padding: 0.25em;
}

.paragraph {
  position: relative;
}

.story p,
.range {
  margin: 0.5em 1em;
  line-height: 1.5em;
}

.range,
.relation {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
}

.relation {
  z-index: 1;
  margin-left: 1em;
}

.range {
  z-index: 2;
}

.story p {
  position: relative;
  z-index: 3;
}
