html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  position: relative;
  background: black;
}

.app {
  height: 100%;
}

.story {
  position: absolute;
  background: white;
  width: 450px;
  border: 5px solid green;
  border-radius: 5px;
}

.story h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: move;
  background-color: green;
  color: white;
  margin: 0;
  padding: 0.25em;
}

.story p {
  margin: 0.5em 1em;
  line-height: 1.5em;
}

.capital,
.relation-source {
  border-radius: 3px;
  background-color: #f00;
  color: #fff;
}

.capital {
  position: relative;
}

.relation {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
}

.relation-source {
  padding: 3px;
}
